



/* Hero Section */
.hero-section {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.hero-section .overlay {
    background: url('https://cloud.stura.htw-dresden.de/apps/files_sharing/publicpreview/nWaYrP4ENF7Sxwm?file=/&fileId=339146&x=2560&y=1440&a=true&etag=f51a07d0673c2698daa18a4942de6618') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Welcome Section */
.welcome-section {
    height: 400px;
    background-color: var(--sehrdunkelpetrol);
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome-section h1 {
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--hellorange);
}

.welcome-section p {
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}

/* Combined Section */
.neues-section {
    background-color: var(--hellpetrol);
    display: grid;
    place-items: center;
    margin: 0; /* Ensure no margin between sections */
    padding: 20px 0; /* Optional: Add padding for spacing within the section */
}


/* News Section */
.news-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.news-section h2 {
    color: var(--orange);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.news-section .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; /* Ensure the row takes full width */
}

.card {
    margin-bottom: 20px;
}

.article-card {
    background-color: var(--dunkelpetrol); /* Replace with your desired green color */
    color: white;
    text-align: center;
    position: relative;
    border: none; /* Remove border */
    border-radius: 5px; /* Remove border radius */
}

.article-logo-container {
    background-color: var(--dunkelpetrol); /* Match the background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* Adjust height as needed */
    border-radius: 5px 5px 0 0;
}

.article-logo {
    width: 100px; /* Adjust size as needed */
    height: auto;
}

.card-body {
    background-color: white; /* White background for the text */
    color: black; /* Black text color */
    padding: 20px; /* Add padding to separate text from logo */
    border-top: 1px solid var(--dunkelpetrol); /* Optional: Add a border to separate the logo and text */
    border-radius: 0 0 5px 5px;
}

.read-more-button {
    background-color: var(--orange);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.read-more-button:hover {
    background-color: var(--dunkelorange);
}


/* Event Section */
.event-section {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    position: relative;
    }

.Monatsplan {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://cloud.stura.htw-dresden.de/apps/files_sharing/publicpreview/nWaYrP4ENF7Sxwm?file=/&fileId=339146&x=2560&y=1440&a=true&etag=f51a07d0673c2698daa18a4942de6618') no-repeat center center/cover;
    margin-bottom: 0px;
}    

.event-button {
    background-color: var(--orange);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px; 
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
}

.event-button:hover {
    background-color: var(--dunkelorange);
}



/* StandOrt Section */
.StandOrt {
    background-color: var(--sehrdunkelpetrol);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px; /* Add padding for spacing */
}

.StandOrt h2 {
    color: var(--hellorange);
    margin-bottom: 60px;
    margin-top: 60px;
}

.StandOrt p {
    color: white;
    margin-bottom: 50px; /* Add margin between paragraphs */
    margin-left: 150px;
    margin-right: 150px;
}

.StandOrt a {
    color: var(--hellorange); /* Link color */
    text-decoration: underline; /* Underline links */
}

.StandOrt a:hover {
    color: var(--orange); /* Change color on hover */
}


.Icons {
    background: url('https://cloud.stura.htw-dresden.de/apps/files_sharing/publicpreview/nWaYrP4ENF7Sxwm?file=/&fileId=339146&x=2560&y=1440&a=true&etag=f51a07d0673c2698daa18a4942de6618') no-repeat center center/cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;;
}

.Icons .social-icons {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
}

.Icons .social-icons a {
    background-color: var(--orange); /* Hintergrundfarbe des Kreises */
    color: white; /* Farbe der Icons */
    font-size: 4rem;
    text-decoration: none;
    width: 90px; /* Breite des Kreises */
    height: 90px; /* Höhe des Kreises */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Macht den Hintergrund zu einem Kreis */
    transition: background-color 0.3s;
    padding: 50px;
}