# Rails Secret Key
# This key is used internally by Rails for encryption and signing.
# The chosen key should be cryptographically secure and kept secret.
SECRET_KEY_BASE=ETAvtRsZXoZeHAU9dEJ4

# Default User
DEFAULT_USER_USERNAME=admin
DEFAULT_USER_EMAIL_ADDRESS=admin@example.com
DEFAULT_USER_PASSWORD=123

# Other Settings
ACCOUNT_ACTIVATION_CODE_VALIDITY_DAYS=14
RESET_PASSWORD_CODE_VALIDITY_MINUTES=30

# Postgres Database
POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD="6i3Rib;ke=&iPiT^26UQi=o;E"
